doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 웹디자이너 박진출 포트폴리오 웹사이트
        script(src="https://kit.fontawesome.com/a44593fe97.js" crossorigin="anonymous")
        link(rel="stylesheet", href="css/reset.css")
        link(rel="stylesheet", href="css/style.css")
    body 
        include includes/comm_header.pug
        h1(class="d-none") about
        main(class="t-center")
            h2(class="d-none") about-main
            article 
                h3(class="t-center py2") About
                div(class="container d-flex j-center g2 py3")
                    div(class="a-img")
                        img(src="images/about1.jpg", alt="about1")
                    div(class="a-info")
                        ul 
                            li Title
                            li text: text
                            li text: text
                            li text: text
                div(class="container d-flex j-center g2 py3")
                    div(class="a-img")
                        img(src="images/about2.jpg", alt="about2")
                    div(class="a-info")
                        ul 
                            li Title
                            li text: text
                            li text: text
                            li text: text
                div(class="container d-flex j-center g2 py3")
                    div(class="a-img")
                        img(src="images/about3.jpg", alt="about3")
                    div(class="a-info")
                        ul 
                            li Title
                            li text: text
                            li text: text
                            li text: text
                div(class="container d-flex j-center g2 py3")
                    div(class="a-img")
                        img(src="images/about4.jpg", alt="about4")
                    div(class="a-info")
                        ul 
                            li Title
                            li text: text
                            li text: text
                            li text: text
        include includes/comm_footer.pug
    