doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 웹디자이너 박진출 포트폴리오 웹사이트
        script(src="https://kit.fontawesome.com/a44593fe97.js" crossorigin="anonymous")
        link(rel="stylesheet", href="css/reset.css")
        link(rel="stylesheet", href="css/style.css")
    body 
        include includes/comm_header.pug
        h1(class="d-none") about
        main
            h2(class="d-none") about-main
            article 
                h3(class="t-center py3 t-upper") About
                hr(class="container")
                h3(class="container_small py3") My Story
                div(class="container_small py3")
                    ul 
                        li 
                            p text ----------------------------------
                            p text ----------------------------------
                            p text ----------------------------------
                            p text ----------------------------------
                h3(class="container_small py2") Mbti
                div(class="container_small d-flex g3 py3")
                    img(src="images/mbti.png", alt="성격")
                    ul 
                        li(class="d-flex g3") 
                            p #text
                            p #text
                        li(class="d-flex g3") 
                            p #text
                            p #text
        include includes/comm_footer.pug
    