doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 웹디자이너 박진출 포트폴리오 웹사이트
        script(src="https://kit.fontawesome.com/a44593fe97.js" crossorigin="anonymous")
        link(rel="stylesheet", href="css/reset.css")
        link(rel="stylesheet", href="css/style.css")
    body 
        include includes/comm_header.pug
        h1(class="d-none") about
        main
            h2(class="d-none") about-main
            article 
                h3(class="t-center py3") About 
                hr(class="container_small py2")
                div(id="about" class="container_small d-flex j-between")
                    div(class="avatar")
                        img(src="images/avata.jpg" wdith="210px" height="270px", alt="내사진")
                    div(class="about")
                        div(class="info-l")
                            h3(class="t-upper pl2 py1") Profile
                            ul(class="d-flex j-between") 
                                li(class="d-flex g1") 
                                    p(class="t-bold") 이름 
                                    p 박진출
                                li(class="d-flex g1") 
                                    p(class="t-bold") 생년월일
                                    p 2001.08.23
                        div(class="info-r")
                            ul(class="d-flex") 
                                li(class="d-flex g1") 
                                    p(class="t-bold") 연락처 
                                    p 010.6890.9059
                                li(class="d-flex g1") 
                                    p(class="t-bold") 이메일 
                                    p qkrwlscnf2@naver.com
                            h3(class="t-upper t-bold pl2 py1") Certificate
                            ul 
                                li(class="d-flex g1") 
                                    p(class="t-bold") GTQ 1급 
                                    p 2023.8
                                li(class="d-flex g1") 
                                    p(class="t-bold") 운전면허 2종
                                    p 2020
                                li(class="d-flex g1") 
                                    p(class="t-bold") Goethe-Zertifikat A2
                                    p 2019
            article 
                h4(class="container t-upper py3") My Story
                div(class="container")
                    ul 
                        li 
                            p text ----------------------------------
                            p text ----------------------------------
                            p text ----------------------------------
                            p text ----------------------------------
                h4(class="container t-upper py3") Mbti
                div(class="container d-flex g3 py3")
                    img(src="images/mbti.png", alt="성격")
                    ul 
                        li(class="d-flex g3") 
                            p #text
                            p #text
                        li(class="d-flex g3") 
                            p #text
                            p #text
        include includes/comm_footer.pug
    