doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 웹디자이너 박진출 포트폴리오 웹사이트
        script(src="https://kit.fontawesome.com/a44593fe97.js" crossorigin="anonymous")
        link(rel="stylesheet", href="css/reset.css")
        link(rel="stylesheet", href="css/style.css")
    body 
        h1(class="d-none") home
        include includes/comm_header.pug
        main
            h2(class="d-none") home-main
            article 
                h3(class="t-center py3") About 
                hr(class="container_small py2")
                div(class="container_small d-flex j-between")
                    div(class="avatar")
                        img(src="images/avata.jpg" wdith="210px" height="270px", alt="내사진")
                    div(class="about")
                        div(class="info-l")
                            h3(class="t-upper pl2 py1") Profile
                            ul(class="d-flex j-between") 
                                li(class="d-flex g1") 
                                    p(class="t-bold") 이름 
                                    p 박진출
                                li(class="d-flex g1") 
                                    p(class="t-bold") 생년월일
                                    p 2001.08.23
                        div(class="info-r")
                            ul(class="d-flex") 
                                li(class="d-flex g1") 
                                    p(class="t-bold") 연락처 
                                    p 010.6890.9059
                                li(class="d-flex g1") 
                                    p(class="t-bold") 이메일 
                                    p qkrwlscnf2@naver.com
                            h3(class="t-upper t-bold pl2 py1") Certificate
                            ul 
                                li(class="d-flex g1") 
                                    p(class="t-bold") GTQ 
                                    p 2023.8
            div(class="skills container")
                ul(class="d-flex j-between my3") 
                    li
                        img(src="images/ps.png", alt="포토샵")
                    li
                        img(src="images/ai.png", alt="일러스트")
                    li
                        img(src="images/js.png", alt="자바스크립트")
                    li
                        img(src="images/ghub.png", alt="깃허브")
            article 
                h3(class="t-center py3") Portfolio 
                hr(class="container py2")
                div(class="container_small d-flex j-between")
                    div(class="prev")
                        i(class="fa-solid fa-angle-left")
                    div(class="port_img")
                        img(src="images/port1.png" width="500px" height="300px", alt="작업물1")
                    div(class="portfolio")    
                        div(class="p-info")
                            ul 
                                li(class="t-upper t-bold") Title
                                li(class="d-flex g1") 
                                    p(class="t-bold") text  
                                    p text 
                                li(class="d-flex g1") 
                                    p(class="t-bold") text 
                                    p text 
                                li(class="d-flex g1") 
                                    p(class="t-bold") text 
                                    p text 
                        div(class="links")
                            ul(class="d-flex") 
                                li 
                                    a(href="#") 이미지보기 
                                li 
                                    a(href="#") 소스보기
                    div(class="next")
                        i(class="fa-solid fa-angle-right")
            article 
                h3(class="t-center py3") Poster 
                div(class="container d-flex j-center g3")
                    div(class="pos_img")
                        ul(class="d-flex g1 my1") 
                            li(class="pos1")
                                a(href="#")  
                                    img(src="images/pos1.jpg" width="300px" height="300px", alt="포스터1")
                            li(class="pos2")
                                a(href="#")  
                                    img(src="images/pos2.png" width="400px" height="300px", alt="포스터2")
                        ul(class="d-flex g1") 
                            li(class="pos3")
                                a(href="#")  
                                    img(src="images/pos3.jpg" width="400px" height="300px", alt="포스터3")
                            li(class="pos4")
                                a(href="#")  
                                    img(src="images/pos4.png" width="300px" height="300px", alt="포스터4")
        include includes/comm_footer.pug
    