doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 웹디자이너 박진출 포트폴리오 웹사이트
        script(src="https://kit.fontawesome.com/a44593fe97.js" crossorigin="anonymous")
        link(rel="stylesheet", href="css/reset.css")
        link(rel="stylesheet", href="css/style.css")
    body 
        include includes/comm_header.pug
        h1(class="d-none") portfolio
        main
            h2(class="d-none") portfolio-main
            article
                h3(class="t-center py2") Portfolio 
                div(class="container")
                    div(class="carousel")
                        div(class="c-img")
                            img(src="images/c1.jpg", alt="케러셀1")
                        div(class="c-btn d-flex j-center g1 py1") 
                            button(type="button") -
                            button(type="button") =
                            button(type="button") +
            article
                h3(class="container py2") Title 
                div(class="container")
                    div(class="next-prev d-flex j-between")
                        div(class="n-img")
                            img(src="images/n1.jpg", alt="n1")
                        div(class="n-img")
                            img(src="images/n2.jpg", alt="n2")
                        div(class="n-img")
                            img(src="images/n3.jpg", alt="n3")
        include includes/comm_footer.pug
    