doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 웹디자이너 박진출 포트폴리오 웹사이트
        script(src="https://kit.fontawesome.com/a44593fe97.js" crossorigin="anonymous")
        link(rel="stylesheet", href="css/reset.css")
        link(rel="stylesheet", href="css/style.css")
    body 
        include includes/comm_header.pug
        h1(class="d-none") portfolio
        main
            h2(class="d-none") portfolio-main
            article 
                h3(class="t-center py3") Portfolio 
                div(class="container_small d-flex j-between")
                    div(class="prev")
                        i(class="fa-solid fa-angle-left")
                    div(class="port_img")
                        img(src="images/port1.png" width="500px" height="300px", alt="작업물1")
                    div(class="portfolio")    
                        div(class="p-info")
                            ul 
                                li(class="t-upper t-bold") Title
                                li(class="d-flex g1") 
                                    p(class="t-bold") text  
                                    p text 
                                li(class="d-flex g1") 
                                    p(class="t-bold") text 
                                    p text 
                                li(class="d-flex g1") 
                                    p(class="t-bold") text 
                                    p text 
                        div(class="links")
                            ul(class="d-flex") 
                                li 
                                    a(href="#") 이미지보기 
                                li 
                                    a(href="#") 소스보기
                    div(class="next")
                        i(class="fa-solid fa-angle-right")
            article
                div(class="container py3")
                    div(class="d-flex j-between my2")
                        div(class="n-img")
                            img(src="images/n1.jpg", alt="n1")
                            ul(class="d-flex g1") 
                                li #text
                                li #text
                                li #text
                        div(class="n-img")
                            img(src="images/n2.jpg", alt="n2")
                            ul(class="d-flex g1") 
                                li #text
                                li #text
                                li #text
                        div(class="n-img")
                            img(src="images/n3.jpg", alt="n3")
                            ul(class="d-flex g1") 
                                li #text
                                li #text
                                li #text
                    div(class="d-flex j-between my2")
                        div(class="n-img")
                            img(src="images/n4.jpg", alt="n4")
                            ul(class="d-flex g1") 
                                li #text
                                li #text
                                li #text
                        div(class="n-img")
                            img(src="images/n5.jpg", alt="n5")
                            ul(class="d-flex g1") 
                                li #text
                                li #text
                                li #text
                        div(class="n-img")
                            img(src="images/n6.jpg", alt="n6")
                            ul(class="d-flex g1") 
                                li #text
                                li #text
                                li #text
                    div(class="d-flex j-between my2")
                        div(class="n-img")
                            img(src="images/n7.jpg", alt="n7")
                            ul(class="d-flex g1") 
                                li #text
                                li #text
                                li #text
                        div(class="n-img")
                            img(src="images/n8.jpg", alt="n8")
                            ul(class="d-flex g1") 
                                li #text
                                li #text
                                li #text
                        div(class="n-img")
                            img(src="images/n9.jpg", alt="n9")
                            ul(class="d-flex g1") 
                                li #text
                                li #text
                                li #text
        include includes/comm_footer.pug
    