@charset "utf-8";
:root {
    --primary-color: black;
    --secondary-color: white;
    --third-color: gray;
    --bg-orange: orange;
}

/*-------------------common style--------------------------*/
.d-none {
    display: none;
}
.d-flex {
    display: flex;
}
.d-grid {
    display: grid;
}

.f-column {
    flex-direction: column;
}

.g1 {
    gap: 1rem;
}
.g2 {
    gap: 2rem;
}
.g3 {
    gap: 3rem;
}
.g4 {
    gap: 4rem;
}
.g5 {
    gap: 5rem;
}

.py1 {
    padding: 1rem 0;
}
.py2 {
    padding: 2rem 0;
}
.py3 {
    padding: 3rem 0;
}

.pl2 {
    padding-left: 2rem;
}

.my1 {
    margin: 1rem 0;
}
.my2 {
    margin: 2rem 0;
}
.my3 {
    margin: 3rem 0;
}

.j-center {
    justify-content: center;
}
.j-between {
    justify-content: space-between;
}

.a-center {
    align-items: center;
}

.h600 {
    height: 600px;
    background: url("../images/coverimg.jpg") no-repeat center /cover;
}

.t-bold {
    font-weight: bold;
}
.t-upper {
    font-size: 1.5rem;
}
.t-white {
    color: var(--secondary-color);
}
.t-center {
    text-align: center;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}
.container_small {
    max-width: 700px;
    margin: 0 auto;
}

h3 {
    font-size: 2rem;
    font-weight: bold;
}

hr {
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

article {
    margin: 3rem 0;
}
/*-------------------header--------------------------*/

.slogan_title {
    font-size: 7rem;
    margin-top: 5rem;
}

.slogan_text {
    border-top: 1px solid var(--secondary-color);
    padding: 0.5rem 0 0 0;
    margin: 1rem 0 2rem 0;
    font-size: 1.25rem;
    text-shadow: 0 0 10px var(--primary-color);
}

.btn_request {
    font-weight: bold;
    width: 6rem;
    height: 2rem;
    border-top-left-radius: 1rem;
    background: var(--secondary-color);
    border: 0;
    color: var(--primary-color);
}

.btn_request:hover {
    background: rgb(40, 40, 233);
    color: white;
    margin-left: .5rem;
}

/*---------------home-about----------------------*/
#about {
    height: 300px;
}

.avatar {
    width: 210px;
    height: 300px;
    text-align: center;
}

.avatar img {
    border-radius: 50%;
}

.info-l  {
    width: 420px;
    height: 100px;
}
.info-r {
    width: 600px;
    height: 100px;
}

.info-l li, .info-r li {
    margin: 0.3rem 0;
    padding-left: 3rem;
}

.skills {
    background: rgb(202, 146, 255);
    height: 300px;
}

/*---------------home-portfolio----------------------*/
.port_img {
    width: 700px;
    height: 500px;
    background: var(--third-color);
}

.p-info {
    width: 500px;
    height: 400px;
    background: blueviolet;
}
.links {
    background: rgb(202, 146, 255);
    height: 100px;
}

.prev, .next {
    padding: 0 5px;
    line-height: 500px;
    font-size: 1.5rem;
}
/*---------------home-poster----------------------*/

.poster {
    height: 1100px;
}

.pos_img {
    margin-bottom: 4rem;
}

.pos1, .pos4 {
    background: blueviolet;
    width: 600px;
    height: 500px;
}
.pos2, .pos3 {
    background: rgb(202, 146, 255);
    width: 400px;
    height: 500px;
}



/*---------------about-----------------------*/
.a-img {
    width: 200px;
    height: 100px;
    background: var(--third-color);
}
/*---------------portfolio-----------------------*/
.c-img {
    width: 1200px;
    height: 500px;
    background: var(--third-color);
    margin: 0 auto;
}

.c-btn > button {
    font-size: 1.5rem;
    border: 0;
    background: var(--third-color);
    border-radius: 30px;
    padding: .5rem;
}

.c-btn > button:hover {
    background: rgb(243, 94, 8);
    color: var(--primary-color);
}

/*---------------portfolio-next-prev----------------------*/
.n-img {
    text-align: center;
    width: 350px;
    height: 300px;
    margin: 2rem 0;
}

.n-img img {
    width: 300px;
    height: 300px;
}

.n-img li {
    background-color: rgb(87, 87, 248);
    color: var(--secondary-color);
    border: 0;
    border-radius: 30px;
    margin: 1rem 0;
    width: 75px;
} 
/*---------------contact----------------------*/
.c-wrap {
    max-width: 500px;
    margin: 0 auto;
}

#sortation {
    border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    padding: 0.5rem;
}

#sortation li:nth-child(1) {
    margin-right: 10%;
    font-weight: 600;
}

#form li {
    align-items: center;
    padding: .2rem;
    font-weight: 700;
}

#form li input {
    width: 200px;
    height: 40px;
}

#form textarea {
    width: 202px;
    height: 100px;
}

#form {
    width: 300px;
    margin: 2rem auto;
}

.send > button {
    display: block;
    margin: 1rem auto;
    border: 1px solid #333;
    padding: .5rem;
}

.send > button:hover {
    background: rgb(40, 40, 233);
    color: var(--secondary-color);
}
/*---------------contact----------------------*/
.contact_list, .contact_list th, .contact_list td {
    border: 1px solid #333;
    border-collapse: collapse;
}

.contact_list th, .contact_list td {
    padding: 1rem;
}

.contact_list th {
    background: var(--primary-color);
    color: var(--secondary-color);
}